/* var.css */
:root {
    --vp-c-brand-1: #18794e;
    --vp-c-brand-2: #299764;
    --vp-c-brand-3: #30a46c;
}

.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
}
/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);

  /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
    --vp-home-hero-image-filter: blur(50px);
}
/* 首页 hero 图片相关变量 */
.VPHero .VPImage.image-src {
    max-width: 210px;
    max-height: 210px;
    width: 100%;
    height: auto;
}

/* 调整 hero 区主标题 */
.VPHero .name {
    font-size: 3rem !important;
    line-height: 1.2;
}

/* 调整 hero 区文本描述 */
.VPHero .text {
    font-size: 2rem !important; /*!important 是可以打破优先级规则的最高优先级 */
    margin-top: 1rem;
}

/* 调整 hero 区标签行 */
.VPHero .tagline {
    font-size: 1.6rem !important; /* 默认是 1.2rem */
    opacity: 0.8;
}

/* 调整操作按钮 */
.VPHero .actions .VPButton {
    font-size: 1.4rem;
    padding: 0.2rem 1.2rem;
}


/*H1 标题渐变色*/
.VPDoc h1 {
    background: -webkit-linear-gradient(10deg, #bd34fe 5%, #e43498 15%);   
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 超链接取消下划线 */
.vp-doc a {
    text-decoration: none; 
}

/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
    transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
    transform: translateY(-5px);
}

/* medium样式 */
.medium-zoom-overlay {
    z-index: 30;
}
.medium-zoom-image {
    z-index: 9999 !important;
  /* 给的值是21，但是实测盖不住，直接999 */
}
/* 代码组中添加图片 */
.rendered-md img {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.rendered-md {
  display: none;  /* 默认隐藏 */
}

.rendered-md.active {
  display: block; /* 只有在 active 状态下才显示 */
    max-width: 100%;
}


/* 也可自行单独修改brand按钮 */
/* :root {
    --vp-button-brand-border: #F6CEEC;
    --vp-button-brand-text: #F6CEEC;
    --vp-button-brand-bg: #D939CD;

    --vp-button-brand-hover-border: #F6CEEC;
    --vp-button-brand-hover-text: #fff;
    --vp-button-brand-hover-bg: #D939CD;

    --vp-button-brand-active-border: #F6CEEC;
} */